.MyPicture{
    border-radius: 50%;
    height: 100px;
    margin: 20px 50px;
    box-shadow: 0px 0px 50px 0px rgba(208, 172, 140, 0.75);
}


@media only screen and (max-width: 300px) {
    .MyPicture {
        height: 70px;
        margin-left: 30px;
    }
}