@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');


.card{
    font-family: 'Raleway', sans-serif;
    color: #000000;
    background: #fff6f3;
    animation-name: onhoverout;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 5px 0px #aaaaaa;
    border-radius: 5px;
    transition: border .5s, box-shadow .4s;
    padding: 10px 10px;
}

.title{
    border-bottom: solid 2px #000000;
    padding: 5px;
}

@keyframes onhover {
    from {
        transform: scale(1);
        border: solid 2px #dddddd;
    }
    10%{

    }

    70% {
        transform: scale(1.05);
    }

    90% {
        transform: scale(1.03);
    }

    to {
        border: solid 4px #ff561f;
        transform: scale(1.04);
    }
}

@keyframes onhoverout {
    from {
        transform: scale(1.05);
        border: solid 4px #000000;
    }

    to {
        transform: scale(1);
        border: solid 2px #000000;

    }
}

.card:hover{
    animation-name: onhover;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    box-shadow: 0px 10px 15px 0px #f8b098;
    background: #ffe9e2;
    color: #ff561f
}

.SkillWrapper{
    position:absolute;
    left: 0%;
    right: 0%;
    top: 11%;
    padding-bottom: 100px;
}

.Web img{
    border-radius: 5px;
    max-width: 150px;
    width: 80%;
    height: auto;
    margin-left:35px ;
}

.WebColTwoPicThree img{
    margin-top: 10px;
}

@media only screen and (max-width: 1030px) {
    .Web img{
        margin-left:25% ;
    }
}



@media only screen and (max-width: 780px) {
    .Web img{
        width: 150px;
        margin-left:10% ;
    }

}

/*@media only screen and (max-width: 580px) {*/
/*    .Web img{*/
/*        width: 200px;*/
/*        margin-left: 22%;*/
/*    }*/

/*}*/
@media only screen and (max-width: 580px) {
    .Web img{
        width: 200px;
        margin-left: 20%;
    }

    .WebColTwoPicThree img{
        margin: 10px 40%;
    }
}




