.TitleText{
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 2.5em;
    color: #2d2d2d;
    height: 30px;
}

.Title{
}

.Underline{
    display: block;
    height: 6px;
    background: #ff4747;
    animation-name: line;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    margin-bottom: 30px;
    animation-timing-function: ease-out;
}

@keyframes line {
    from {width: 0px;}
    to {width: 100px;}
}

.ContactWrapper{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 10%;
    left: 24%;
    width: 50%;
}



.card{
    border: solid 2px black;
    box-shadow: 0px 0px 5px rgba(64, 64, 64, 0.75);
    background: #f5f5f5;
    height: 100%;
}

.form{
    margin-right: 10px;
}

.socialTitle{
    text-align: center;
    margin: 10px
}

.social img{
    width: 40px;
    margin: 15px;
}

@media only screen and (max-width: 1000px) {
    .social img{
        margin: 6px;
    }
    .TitleText{
        font-size: 2em;
    }
    .ContactWrapper{
        top: 10%;
        left: 10%;
        width: 80%;
        padding-bottom:100px;
    }
}

.EmailText{
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    border: solid 2px #d9d9d9;
    padding: 6px 6px 6px 20px;
    width: 300px;
    font-size: 1.2em;
    margin:10px 0px;
}

.EmailText:hover{
    cursor: pointer;
}
.EmailText::selection{
    background: #cfffa2;
}
