.Links{
    position: fixed;
    bottom: 0px;
    left:0px;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.6em;

    text-transform: uppercase;
    z-index: 100;
    background: white;
    padding-top: 5px;
}

@media only screen and (max-width: 650px) {
    .Links {
        font-size: 1.2em;
    }
}

.Links a{
    color: #b5b5b5;
}

.Links a:hover{
    text-decoration: none;
    color: #7c7c7c;
}